.staff-list__item {
  border-radius: 4px;
  height: 100%;
  container-type: inline-size;
}
.staff-list__item--flex {
  display: flex;
}
.staff-list__item--no-radius {
  border-radius: 0;
}
.staff-list__item--shadow {
  transition: box-shadow 0.2s ease-in-out;
}
.staff-list__item--shadow:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  background-color: var(--card_bg_hover_black);
}
.staff-list__item--row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .staff-list__item--row {
    flex-direction: column;
  }
}

.staff-list__item-image-wrapper {
  position: relative;
}
.staff-list__item-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.staff-list__item-company {
  margin-bottom: 5px;
}
.staff-list__item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.staff-list__item-preview-wrapper {
  margin-top: 20px;
  margin-bottom: 6px;
}
.staff-list__item-props {
  margin-top: 14px;
}
.staff-list__item-prop-title {
  display: block;
  margin-bottom: -2px;
  margin-top: 8px;
}
.staff-list__item-socials {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -10px 0px;
}
.staff-list__item-social {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.staff-list__item-socials .staff-list__item-social * {
  fill: #b8b8b8;
}
.staff-list__item-socials .staff-list__item-social .svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.staff-list__item-button {
  margin-top: 30px;
  display: inline-block;
}
.staff-list__item-button--on-image {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 0px;
  right: 0px;
}
.staff-list__item:hover .staff-list__item-button--on-image {
  opacity: 1;
  visibility: visible;
}
