.staff-list.staff-list--view3 .staff-list__item-image-wrapper {
  width: 50%;
  padding-top: 33.3%;
}
.staff-list.staff-list--view3 .staff-list__item-image {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.staff-list.staff-list--view3 .staff-list__item.staff-list__item--no-radius .staff-list__item-image {
  border-radius: 0;
}
.staff-list.staff-list--view3 .staff-list__item-text-wrapper {
  padding: 64px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.staff-list.staff-list--view3 .staff-list__item-company {
  margin-bottom: 13px;
}
.staff-list.staff-list--view3 .staff-list__info-wrapper {
  margin: 15px -38px -14px;
  display: flex;
  flex-wrap: wrap;
}
.staff-list.staff-list--view3 .staff-list__info-wrapper .staff-list__item-props {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.staff-list.staff-list--view3 .staff-list__info-wrapper .staff-list__item-prop {
  margin: 14px 38px;
}
.staff-list.staff-list--view3 .staff-list__info-wrapper .staff-list__item-socials {
  margin: 14px 28px;
  align-items: center;
}
.staff-list.staff-list--view3 .staff-list__info-wrapper .staff-list__item-prop-title {
  margin-top: 0;
}
.staff-list.staff-list--view3 .staff-list__item-text-bottom-part {
  display: block;
}

@media (max-width: 991px) {
  .staff-list.staff-list--view3 .staff-list__item-text-wrapper {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .staff-list.staff-list--view3:not(.staff-list--items-offset) .staff-list__item {
    border-left: 0;
  }
  .staff-list.staff-list--view3:not(.staff-list--items-offset) .staff-list__item.staff-list__item--first {
    border-left: 1px solid #e5e5e5;
    border-left-color: var(--stroke_black);
  }
  .staff-list.staff-list--view3 .staff-list__item-image-wrapper {
    width: 100%;
    height: 0;
    min-height: auto;
    padding-top: 75%;
    border-radius: 4px 4px 0 0;
  }
  .staff-list.staff-list--view3 .staff-list__item-image {
    border-radius: 4px 4px 0 0;
  }
  .staff-list.staff-list--view3 .staff-list__item.staff-list__item--no-radius .staff-list__item-image {
    border-radius: 0;
  }
  .staff-list.staff-list--view3 .staff-list__item-text-wrapper {
    width: 100%;
    padding: 24px;
  }
  .staff-list.staff-list--view3 .staff-list__item-title {
    font-size: 18px;
    line-height: 25px;
  }
  .staff-list.staff-list--view3 .staff-list__item {
    border-radius: 0;
  }
  .staff-list.staff-list--view3 .staff-list__item-button--on-image {
    display: none;
  }
  .staff-list.staff-list--view3 .staff-list__item-text-bottom-part {
    display: block;
  }
  .staff-list.staff-list--view3 .staff-list__item.staff-list__item--shadow:hover {
    box-shadow: none;
    border-color: #e5e5e5;
    border-color: var(--stroke_black);
  }
}
