.staff-list.staff-list--view2 .staff-list__item-image-wrapper {
  padding-top: 52.5%;
  width: 42%;
}
.staff-list.staff-list--view2:not(.staff-list--items-offset) .staff-list__item {
  border-left: 0;
}
.staff-list.staff-list--view2:not(.staff-list--items-offset) .staff-list__item.staff-list__item--first {
  border-left: 1px solid #e5e5e5;
}
.staff-list.staff-list--view2.staff-list--wide .staff-list__item-image-wrapper {
  padding-top: 50%;
  width: 50%;
}
.staff-list.staff-list--view2 .staff-list__item-image {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.staff-list.staff-list--view2 .staff-list__item.staff-list__item--no-radius .staff-list__item-image {
  border-radius: 0;
}
.staff-list.staff-list--view2 .staff-list__item-text-wrapper {
  width: 58%;
  padding: 33px 40px 40px;
}
.staff-list.staff-list--view2.staff-list--wide .staff-list__item-text-wrapper {
  width: 50%;
}
.staff-list.staff-list--view2 .staff-list__item-preview-wrapper {
  margin-top: 12px;
}
.staff-list.staff-list--view2 .staff-list__item-text-top-part {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.staff-list.staff-list--view2 .staff-list__info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.staff-list.staff-list--view2 .staff-list__item-text-bottom-part {
  display: none;
}

@media (max-width: 767px) {
  .staff-list.staff-list--view2.staff-list--wide .staff-list__item-image-wrapper {
    width: 100%;
    height: 0;
    padding-top: 75%;
    border-radius: 4px 4px 0 0;
  }
  .staff-list.staff-list--view2 .staff-list__item-image-wrapper {
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 4px 4px 0 0;
  }
  .staff-list.staff-list--view2 .staff-list__item-image {
    border-radius: 4px 4px 0 0;
  }
  .staff-list.staff-list--view2 .staff-list__item-image {
    border-radius: 0;
  }
  .staff-list.staff-list--view2.staff-list--wide .staff-list__item-text-wrapper {
    width: 100%;
    padding: 24px;
  }
  .staff-list.staff-list--view2 .staff-list__item-text-wrapper {
    width: 100%;
    padding: 24px;
  }
  .staff-list.staff-list--view2 .staff-list__item.staff-list__item--shadow:hover {
    box-shadow: none;
    border-color: #e5e5e5;
  }
  .staff-list.staff-list--view2 .staff-list__item-text-top-part {
    height: auto;
  }
  .staff-list.staff-list--view2 .staff-list__item-button--on-image {
    display: none;
  }
  .staff-list.staff-list--view2 .staff-list__item-text-bottom-part {
    display: block;
  }
}
