/* item */

.gallery-thumbs {
  border-top: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 54px;
}

.gallery-thumbs__item {
  cursor: pointer;
  border: 1px solid #fff;
}

.gallery-thumbs .swiper-slide-thumb-active {
  box-shadow: 0 0 0 4px var(--theme-base-color) inset;
  cursor: default;
}


.gallery-thumbs__swiper .swiper-slide {
  width: calc(100% / 7 - 26px);
  padding: 2px;
  height: auto;
  margin-right: 30px;
}
body .gallery-big__swiper img {
  max-height: 650px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.gallery-big {
  padding: 64px 64px;
}
.gallery-thumbs__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-count-info {
  text-align: center;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .gallery-big {
    padding: 0px;
  }
  .gallery-item .gallery-item__inner {
    border: none;
  }
  .gallery-thumbs {
    border-top: none;
  }
}
