.properties-group {
  width: 100%;
  margin: 0;
  --group-padding: 12px;
}
.properties-group__group {
  padding-top: var(--group-padding);
  padding-bottom: var(--group-padding);
}
.properties-group__group:first-child {
  padding-top: 0;
}
.properties-group__group:last-child {
  padding-bottom: 0;
}
.properties-group--block .properties-group__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 992px) {
  .properties-group--table:not(.properties-group--table-one-column) .properties-group__items:has(.properties-group__item:nth-of-type(3)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
  }
  .properties-group--table:not(.properties-group--table-one-column)
    .properties-group__items:has(.properties-group__item:nth-of-type(3))
    .properties-group__item:nth-of-type(2) {
    border-top: 1px solid var(--stroke_black);
  }
  .properties-group--table .properties-group__group-name + .properties-group__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
  }
  .properties-group--table
    .properties-group__group-name
    + .properties-group__items
    .properties-group__item:nth-of-type(2) {
    border-top: 1px solid var(--stroke_black);
  }
}
@media (min-width: 501px) {
  .properties-group--table .properties-group__item:nth-of-type(1) {
    border-top: 1px solid var(--stroke_black);
  }
}
.properties-group--table .properties-group__item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
  border-bottom-color: var(--stroke_black);
}
.properties-group--block .properties-group__item {
  border: 1px solid #ededed;
  border-color: var(--stroke_black);
  padding: 22px 25px;
  margin: 0px -1px -1px 0px;
}
.properties-group__name-wrap,
.properties-group__value-wrap {
  position: relative;
}
.properties-group--table .properties-group__name-wrap,
.properties-group--table .properties-group__value-wrap {
  width: 50%;
}
.properties-group__name-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.properties-group--block .properties-group__name-wrap {
  margin-bottom: 6px;
}
.properties-group__name,
.properties-group__value {
  position: relative;
  text-align: left;
  word-break: break-word;
}
.properties-group--table .properties-group__value {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .properties-group--block .properties-group__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .properties-group--block .properties-group__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .properties-group--table .properties-group__item:nth-of-type(2) {
    border-top: none;
  }
}
@media (max-width: 500px) {
  .properties-group {
    --group-padding: 24px;
  }
  .properties-group--table .properties-group__group {
    padding-bottom: 0;
  }
  .properties-group--table .properties-group__group-name {
    margin-bottom: 0;
  }
  .properties-group--table .properties-group__item {
    flex-direction: column;
    border-bottom: none;
    padding: 12px 0 0 0px;
  }
  .properties-group--table .properties-group__group[data-group-code="no-group"] .properties-group__item {
    padding-left: 0;
  }
  .properties-group--table .properties-group__name-wrap,
  .properties-group--table .properties-group__value-wrap {
    width: 100%;
  }
  .properties-group--table .properties-group__name,
  .properties-group--table .properties-group__value {
    padding: 0;
  }
  .properties-group--table .properties-group__name-wrap {
    background: none;
  }
  .properties-group--table .properties-group__name-wrap {
    font-size: 0.8125rem;
    line-height: calc(1em + 9px);
  }
  .properties-group--table .properties-group__value-wrap {
    font-size: 1rem;
    line-height: calc(1em + 5px);
  }
}

/*hint*/
.properties-group .hint {
  position: relative;
  margin-left: 3px;
}
